{{define "content"}}
<h1 class="h2 mb-4">Haberi Düzenle</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <form action="/admin/haberler/duzenle/{{.data.ID}}" method="POST">
            <div class="mb-3">
                <label for="title" class="form-label">Haber Başlığı</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ .data.Title }}" required>
            </div>

            <div class="mb-3">
                <label for="image_url" class="form-label">Resim URL</label>
                <input type="text" class="form-control" id="image_url" name="image_url" value="{{ .data.ImageURL }}">
            </div>

            <div class="mb-3">
                <label for="summary" class="form-label">Özet</label>
                <textarea class="form-control" id="summary" name="summary" rows="3" required>{{ .data.Summary }}</textarea>
            </div>

            <div class="mb-3">
                <label for="content" class="form-label">İçerik</label>
                <textarea class="form-control" id="content" name="content" rows="10" required>{{ .data.Content }}</textarea>
            </div>

            <button type="submit" class="btn btn-primary">
                <i class="bi bi-check-circle-fill me-2"></i>Değişiklikleri Kaydet
            </button>
            <a href="/admin/haberler" class="btn btn-secondary">İptal</a>
        </form>
    </div>
</div>
{{end}}