<footer class="footer-section pt-5 pb-4">
    <div class="row">
    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Khayrat AID</h6>
        <p>
            İhtiyaç sahiplerine ulaşmak, yaraları sarmak ve daha yaşanabilir bir dünya inşa etmek için yola çıktık.
        </p>
    </div>

    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Kampanyalar</h6>
        <p><a href="/kampanyalar" class="footer-link">Su Kuyusu</a></p>
        <p><a href="/kampanyalar" class="footer-link">Eğitim</a></p>
        <p><a href="/kampanyalar" class="footer-link">Gıda Yardımı</a></p>
        <p><a href="/kampanyalar" class="footer-link">Acil Yardım</a></p>
    </div>

    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase fw-bold mb-4">Hızlı Erişim</h6>
        <p><a href="/hakkimizda" class="footer-link">Hakkımızda</a></p>
        <p><a href="/iletisim" class="footer-link">İletişim</a></p>
        <p><a href="/sss" class="footer-link">S.S.S.</a></p>
        <p><a href="#!" class="footer-link">Gönüllü Ol</a></p> </div>

    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase fw-bold mb-4">İletişim</h6>
        <p><i class="bi bi-geo-alt-fill me-2"></i> İstanbul, Türkiye</p>
        <p><i class="bi bi-envelope-fill me-2"></i> info@khayrataid.org</p>
        <p><i class="bi bi-telephone-fill me-2"></i> +90 212 123 45 67</p>
    </div>
</div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">© 2025 Copyright: <a class="fw-bold" href="#">KhayratAID.org</a></div>
</footer>
